<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<div class="container">
<div id="title">
<h1>Stupid Coaching</h1>
</div>
<p>Ask your coach anything:</p>
  <form action="/answer">
    <div id="questionBox">
  <input type="text" name="question" id="textBox">
  <input type="submit" value="Ask" id="btnBlue">
  </div>
</form>
</div>
<!-- <p>Find me in app/views/questions/ask.html.erb</p> -->
